jinja2==2.11.2            # via nwpy-sample
markupsafe==1.1.1         # via jinja2
six==1.15.0               # via nwpy-sample

# The following packages are considered to be unsafe in a requirements file:
# setuptools
